# Interactive World Maps Generator

### Introduction
The purpose of this short notebook is to create a function that accepts data sets downloaded from https://data.worldbank.org/ and presents them in the form of an interactive world map (using plotly). After the function is initialized, a new tab opens with a map of world countries. Upon hovoring on a given country, a certain data should be displayed. An interactive world map is also saved locally as temp.html.

### Libraries
Importing essential libraries: pandas and plotly.

In [1]:
import pandas as pd

import plotly as py
import plotly.graph_objs as go

### Preview of The Data
Let's check one of the data set: Life Expectancy.

In [2]:
preview_df = pd.read_csv(f'data/Life_Expectancy.csv')

In [3]:
preview_df.head(3)

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Afghanistan,AFG,32.446,32.962,33.471,33.971,34.463,34.948,...,61.028,61.553,62.054,62.525,62.966,63.377,63.763,64.13,64.486,..
1,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Albania,ALB,62.283,63.301,64.19,64.914,65.463,65.85,...,76.562,76.914,77.252,77.554,77.813,78.025,78.194,78.333,78.458,..
2,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Algeria,DZA,46.141,46.599,47.056,47.509,47.958,48.394,...,74.938,75.199,75.436,75.661,75.878,76.09,76.298,76.499,76.693,..

The important features are 'Country Code' and the years that we are interested in (from 1960 to 2018).

### Function
The following function plots the data for the latest year in the dataset (2018). Four different interactive world maps can be obtained:
- life expectancy,
- total population,
- population density,
- GDP per capita.

In [4]:
def map_creator(analysis):

    if analysis == 'Life_Expectancy':
        my_title = 'Life Expectancy of 2018'
        my_cbar = 'Years'
    elif analysis == 'Population_Total':
        my_title = 'Total Population of 2018'
        my_cbar = 'People'
    elif analysis == 'Population_Density':
        my_title = 'Population Density of 2018'
        my_cbar = 'People per km2'
    elif analysis == 'GDP_Per_Capita':
        my_title = 'GDP Per Capita of 2018'
        my_cbar = '$'
    else:
        raise ValueError('Lack of indicated dataset!')
        
    data_frame = pd.read_csv(f'data/{analysis}.csv')

    data = dict (
        type = 'choropleth',
        locationmode = 'ISO-3',
        locations = data_frame['Country Code'],
        z = data_frame['2018 [YR2018]'],
        colorscale = 'Portland',
        colorbar = {'title': f'{my_cbar}'})

    map = go.Figure(data=[data])
    
    map.update_layout(
        title={
            'text': f'{my_title}',
            'y':0.95,
            'x':0.5,
            'xanchor': 'center',
            'yanchor': 'top'},
        
        font=dict(
            family='Times New Roman',
            size=18,
            color='black')
        )
    
    py.offline.plot(map)

In [5]:
map_creator('Life_Expectancy')

In [6]:
map_creator('Population_Total')

In [7]:
map_creator('Population_Density')

In [8]:
map_creator('GDP_Per_Capita')

### Output
Images of the interactive world maps for the year 2018:
<img src="materials/Life_Expectancy_2018.png"/>
<img src="materials/Population_Total_2018.png"/>
<img src="materials/Population_Density_2018.png"/>
<img src="materials/GDP_Per_Capita_2018.png"/>